.banner-topo{width:100%; height:auto;  background-size: contain; background-repeat: no-repeat; background-color: #181818;}
.drones2 #banner_hathome{  height:475px; width: 1024px;   display: block; margin: 3px auto;} 
.drones2{ height:475px; width: 100%;    display: block; margin: 3px auto;}
.card-title{font-family: 'Open Sans';font-weight: bold;color: #4f4f4f ;font-size: 30px;text-align: center;}
.droneprodutos:hover { opacity: 0.3; -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */   filter: grayscale(100%); }
.droneprodutos:hover{ opacity: 1 !important; -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */filter: grayscale(0%);}
span.sub-text {
    font-size: 20px;
}
.cursor{cursor: pointer;}
.bg-preto{
	background-color: #000000;
}
.text-pequeno{
	font-size:14px;
	font-weight: bold;
	line-height: 5px;
}
#estabilidade{
	background-image: url('images/bg-estabilidade.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 590px;
}

#voo{
	background-image: url('images/bg-autonomo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
}

.titulo-preto{color: #111;
    font-weight: 100;
    font-size: 50px;
    margin: 0;
    margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}

.titulo-branco{
	color: #fff;
    font-weight: 100;
    font-size: 60px;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
.text-branco{
	color: #fff;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif
}


#bateria{
	background-image: url('images/bg-bateria.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 460px;
}

#gesto{
	background-image: url('images/bg-gestos.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 525px;
}
.icon-gesto{
	width: 70px;
    height: 88px;
}

#gohome{
	background-image: url('images/bg-gohome.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 525px;
}

.bg-cinza{
	background: #292929;
}
.position-bottom{
	position: relative;
	top: 200px;
}
@media(max-width:1060px){
	.container-mobile {
		width: 100%;
		height: auto;
		background-color: rgba(0,0,0,0.30);
		padding: 10px;
	}
}


@media(max-width: 1199px){
	#bateria{
		display:none;
	}
}

@media(max-width: 991px){
	#gohome{background-color: #19a67d; background-image: none;height: auto;}
}
@media(max-width: 768px){
	.sem-padding{
		padding: 12px !important;
	}
	.position-bottom{
		top: 150px;
	}
}
@media(max-width:575px){
	.titulo-preto, .titulo-branco{
		font-size: 30px;
	}
	.banner-topo {
		width: 100%;
		height: 100px;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: #181818;
		background-image: url(images/Agrupar-2-copiar-2.png);
	}
	.container-mobile{
		padding: 2px;
	}
	p.text-right.text-white.text-branco {
		text-align: left !important;
	}
	h2.titulo-preto.text-right.text-white.font-weight-normal.display-4 {
		text-align: center !important;
	}
	.position-bottom{
		top: 10px;
	}
}
